
.DS_Store
public/js/bundle.js
public/css/bundle.css
public/index.html

*.log
*.out
*.iml
npm-debug.log*
*hot-update.js*
*.min.js
*.min.css
*.js.map

node_modules/
logs/
coverage/
.venv/
bin/
idea/
cached_uglify/
tests_output/
